# version: "3.9"
# services:
#   backend:
#     container_name: fastapi-backend
#     build: ./backend
#     ports:
#       - "8000:8000"
#     volumes:
#       - ./backend:/app       # MOUNT BACKEND FOLDER
#     networks:
#       - app-network
#   frontend:
#     container_name: react-frontend
#     build: ./frontend
#     ports:
#       - "3000:3000"
#     volumes:
#       - ./frontend:/app      # MOUNT FRONTEND FOLDER
#       - /app/node_modules    # prevent node_modules overwrite issue
#     depends_on:
#       - backend
#     networks:
#       - app-network

# networks:
#   app-network:
#     driver: bridge

version: "3.9"

services:
  backend:
    container_name: fastapi-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    networks:
      - app-network

  frontend:
    container_name: react-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    
